/*font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #66BFBF;
  margin: auto 0;
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 90px;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Merriweather', serif;
  margin: 30px auto 30px;
  font-weight: normal;
}
.subtitle {
  margin-top: 0;
}

h3 {
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 30px auto 30px;;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  /*  height: 200px;
  width: 200px;
  */
}

.middle-container {
  color: #40514E;

}

.bottom-container {
  background-color: #66BFBF;
  height: 80px;
  padding: 50px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  left: 1050px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  top: 240px;
  left: 350px;
}

.land {
  padding-top: 70px;
}

.propic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.skill {
  height: 300px;
  width: 300px;
  border-radius: 50%
}

a {
  color: #11999E;
  font-family: 'Merriweather', serif;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}

.profile {
  width: 50%;
  margin: 0 auto 100px;
  text-align: center;
  line-height: 2;
  padding-top: 80px;
}
.html {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.css {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  -webkit-border-radius: 7;
   -moz-border-radius: 7;
   border-radius: 7px;
   font-family: Arial;
   color: #ffffff;
   font-size: 20px;
   background: #66BFBF;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}
.footer {
  margin: 40px auto 40px;
  color: #EAF6F6;
}
.footer-link {
  margin-top: 60px;
  padding: 30px;
  text-decoration: none;
}

.contact-me {
  padding: 50px;
}
.last-para {
  margin-bottom: 50px;
}

hr {
  border-style: dotted;
  border-bottom: none;
  border-width: 8px;;
  width: 4%;
  }
